.DS_Store
.idea/
build/
dist/
env/
pomme.egg-info/
struct.txt

pomme/__pycache__/
pomme/src/.DS_Store
pomme/src/build/
pomme/pomme.zip
pomme/*.so
pomme/pomme.egg-info/

tests/.DS_Store
tests/__pycache__/
tests/results
tests/results_file

pomme/20241007.log
pomme/geoc_outputs.sh
pomme/pomme_inputs_202310_202409.txt
